<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>F1</filter-name>
        <filter-class>Filters.MyFilter</filter-class>
        <init-param>
            <param-name>my-param</param-name>
            <param-value>asdf</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>F1</filter-name>
        <url-pattern>/ExamPage</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseBySession</servlet-name>
        <servlet-class>Servlet.CourseBySession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamPage</servlet-name>
        <servlet-class>Servlet.ExamPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionPage</servlet-name>
        <servlet-class>Servlet.QuestionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewExam</servlet-name>
        <servlet-class>Servlet.AddNewExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>Servlet.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentListPage</servlet-name>
        <servlet-class>Servlet.StudentListPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditExamPage</servlet-name>
        <servlet-class>Servlet.EditExamPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionPage</servlet-name>
        <servlet-class>Servlet.AddQuestionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendQuestionFile</servlet-name>
        <servlet-class>Servlet.SendQuestionFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTestCase</servlet-name>
        <servlet-class>Servlet.AddTestCase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOutputFile</servlet-name>
        <servlet-class>Servlet.AddOutputFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFile</servlet-name>
        <servlet-class>Servlet.SendFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToSubmissionPage</servlet-name>
        <servlet-class>Servlet.ToSubmissionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToDashboard</servlet-name>
        <servlet-class>Servlet.ToDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToIndividualSubmissionPage</servlet-name>
        <servlet-class>Servlet.ToIndividualSubmissionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentPerformanceBatchwise</servlet-name>
        <servlet-class>Servlet.StudentPerformanceBatchwise</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseBySession</servlet-name>
        <url-pattern>/CourseBySession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamPage</servlet-name>
        <url-pattern>/ExamPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionPage</servlet-name>
        <url-pattern>/QuestionPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewExam</servlet-name>
        <url-pattern>/AddNewExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         F:\UploadFIles\\
     </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>StudentListPage</servlet-name>
        <url-pattern>/StudentListPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditExamPage</servlet-name>
        <url-pattern>/EditExamPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionPage</servlet-name>
        <url-pattern>/AddQuestionPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendQuestionFile</servlet-name>
        <url-pattern>/SendQuestionFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTestCase</servlet-name>
        <url-pattern>/AddTestCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOutputFile</servlet-name>
        <url-pattern>/AddOutputFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFile</servlet-name>
        <url-pattern>/SendFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToSubmissionPage</servlet-name>
        <url-pattern>/ToSubmissionPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToDashboard</servlet-name>
        <url-pattern>/ToDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToIndividualSubmissionPage</servlet-name>
        <url-pattern>/ToIndividualSubmissionPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentPerformanceBatchwise</servlet-name>
        <url-pattern>/StudentPerformanceBatchwise</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
